@font-face {
  font-family: 'wimp';
  src: url('../fonts/wimp.ttf');
}

body {
  background-color: black;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto';
}

header nav {
  background-color: black !important;
}

header nav .brand {
  color: white;
  font-family: 'wimp';
  font-size: 20px;
}

header nav .menu {
  background-color: black;
  display: block;
}

header nav .menu li a {
  color: white;
}

#save-angico {
  background-image: url('../img/angico-7.jpg');
  background-size: cover;
  color: white;
}

#save-angico .mask {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  padding: 55px 0;
}

#save-angico h1 {
  font-family: 'wimp';
  font-size: 80px;
}

#save-angico .message {
  font-size: 18px;
}

#save-angico .button {
  font-size: 24px;
  font-weight: bold;
  background: #00dd77;
  border-radius: 6px;
}

#people {
  font-family: 'wimp';
  color: white;
}

#people .number {
  font-size: 85px;
}

#people .message {
  font-size: 24px;
}

.title {
  font-size: 40px;
  font-family: 'wimp';
  text-align: center;
  color: white;
  margin: 30px 0;
}

section.padded {
  padding: 40px 0;
}

form input, form .button {
  border-radius: 4px !important;
}

form input {
  color: #444;
}

form input::-moz-placeholder {
  color: #555;
}

form input:-webkit-placeholder {
  color: #555;
}

form input:-o-placeholder {
  color: #555;
}

footer {
  color: white;
  padding: 10px 0;
  background-color: #111;
}

footer a {
  color: white;
}

#signed .person {
  border-bottom: 1px solid #aaaaaa;
  color: white;
  padding: 15px 4px;
  font-size: 18px;
}

.social-buttons {
  margin: 0;
  list-style: none;
  display: flex;
}

.social-buttons li {
  display: inline-flex;
  height: 30px;
  margin-right: 10px;
}

.form-errors-wrapper {
  color: white;
  margin-bottom: 20px;
}

.form-errors-wrapper .petition-form-error {
  background-color: #ce4444;
  margin: 5px 0;
  padding: 10px;
}

.petition-message {
  color: white;
  background-color: #44ce44;
  padding: 10px;
  margin: 10px 0
}

.tada-wrapper {
  margin-top: 50px;
}

.image-item {
  max-height: 202.5px;
  overflow:hidden;
  margin-bottom: 15px;
}

#signed .pagination {
  margin-top: 20px;
  text-align: center;
}

#signed .pagination a {
  color: #fff;
}

#signed .pagination a:focus,
#signed .pagination a:hover {
  color: #333;
}
